.container {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(255, 182, 24);
    width: 800px;
    height: 400px;
    margin: 30px auto;
    padding: 70px 20px 100px 20px;
}

ul li {
    display: inline;
}